services:
  springrank-jl-dev:
    image: ghcr.io/yifen9/springrank-jl-dev
    container_name: springrank-jl-dev
    working_dir: /workspace
    environment:
      - JULIA_DEPOT_PATH=/opt/julia-depot
      - JULIA_PROJECT=@.
      - JULIA_NUM_THREADS=auto
    volumes:
      - "..:/workspace"
      - "julia-depot:/opt/julia-depot"
    command: >
      bash -c "
        julia -e 'using Pkg; Pkg.instantiate(); Pkg.precompile()' &&
        just --version &&
        exec sleep infinity
      "
volumes:
  julia-depot:
