name: CI

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: julia-actions/setup-julia@master
      - uses: julia-actions/cache@main
        with:
          cache-registries: true
      - run: sudo apt-get update && sudo apt-get install -y just
      - run: just ci
