name: Image

on:
  push:
    branches:
      - "main"
    paths:
      - "Dockerfile.dev"
      - "Project.toml"
      - "Manifest.toml"
      - ".github/workflows/image.yaml"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.dev
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/springrank-jl-dev:latest
            ghcr.io/${{ github.repository_owner }}/springrank-jl-dev:${{ github.sha }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/springrank-jl-dev:cache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/springrank-jl-dev:cache,mode=max
